#joobsbox-header {
  width: 100%; 
  height: 75px; 
  background-color: #333333; 
  background-image: url('../images/logo_dark.png'); 
  background-repeat: no-repeat; 
  background-position: 17px 40%; 
  font-size: 110%; 
  text-transform: uppercase; 
  line-height: 80px; 
  color: #DDD; 
  font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif; 
  text-align: center;
}

#installation	{
  padding: 10px; 
  color: #333;
}
#installation p	{
  margin-top: 10px;
}
#installation fieldset {
  margin-top: 10px;
}
#installation legend {
  font-size: 90%; 
  font-weight: bold;
}
#installation .fieldpair {
  padding: 5px; 
  margin: 5px; 
  background-color: #464646; 
  line-height: 1.8em;
}
#installation label	{
  font-size: 90%; 
  font-weight: bold; 
  width: 35%; 
  display: block; 
  float: left; 
  color: #EEE;
}
#installation .error {
  background-color: #EF1A14; 
  color: #FFF;
}

#footer {
  width: 100%; 
  padding-top: 10px;
}

h1 {
  clear: both; 
  float: none;
}
