RewriteEngine On
RewriteCond %{REQUEST_URI}  !^.*/index\.php$
RewriteCond %{REQUEST_URI}  !^.*/plugins/.*\.(js|css|png|gif|jpg|mp3|wav)$
RewriteCond %{REQUEST_URI}  !^.*/docs/.*$
RewriteRule .* index.php [NC,L]
