body, div, h1, p {
  font-family: verdana, arial; margin: 0 auto; padding: 0 
}

body {
	width: 100%;
	text-align: center;
	font-size: 14px;
}

h1 { padding: 10px; margin: 0; font-size: large; float: left; }
h2 {
	color: black;
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0 3px 0;
	text-transform: none;
}
a {

	color: #0070B7;
}
/************* ROUND **************************************/
div.inner {
	margin: 0;
	border:0;
	background-color: #e4f2fd;
	font-size: 20px;
	color: #333333;
	padding: 7px;
	text-align: left;
	font-family: serif;
	font-weight: bold;
	text-shadow: #888 0px 1px 3px;
}
div.outer {
	margin: 5px;
	padding: 5px;
	background-color: #DDD;
}
/*********** LIST **********************************/
.list ul {
	clear: both;
	padding: 0;
	margin-left: 0px;
	padding-left: 20px;
	padding-right: 20px;
}
.list .alternate {
	background-color: #eef9fd;
}
.list .inner a {
	color: #333333;
	text-decoration: none;
}
.list {
	width: 100%;
	margin-top: 15px;
}
.list li {
	padding-top: 5px;
	padding-bottom: 5px;
	list-style-type: none;
	border-bottom: solid 1px;
	border-bottom-color: #EAEAEA;
	color: #000000;
}
.list li a {
	color: #21759b;
	font-weight: bold;
}
.list li a:hover {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #006BAF;
	text-decoration: none;
	padding-bottom: 2px;
	padding-top: 2px;
}
/*****************************************/
#joobsbox-main {
	padding: 10px;
	width: 890px;
	text-align: left;
	background-color: #FFFFFF;
}

#joobsbox-header {
  width: 100%; 
  background-position: 5px 40%; 
  text-transform: uppercase; 
  line-height: 80px; 
  color: #DDD; 
}

#joobsbox-header a {
  display: block; 
  outline: none;
  color: #000;
  text-decoration: none;
  margin-left: 13x;
  font-size: 18px;
}

.site-title								{
  text-indent: -1800px; 
  font-size: 1px;
}

#full-rss {
  background-color: #ffffcc; 
  text-align: center; 
  padding: 7px 5px; 
  border-top: 1px solid #ddd; 
  color: #888888; 
  font-size: 90%;
}

#footer {
	border-top: 1px solid #ddd;
	color: #888;
	float: left;
	width: 100%;
	padding-top: 10px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 0;
	font-size: 80%;
	text-align: center;
	padding-bottom: 20px;
}
#wrapper {
	text-align: center;
	width: 100%;
}
#jobContent {
	padding: 20px;
	padding-top: 0px;
}
#tools {
	padding-left: 6px;
	padding-right: 15px;
	padding-bottom: 15px;
	height: 35px;
}
#tools #search {
	float: right;
	vertical-align: middle;
	background-position: left top;
	background-repeat: no-repeat;
}

#tools #postJob {
	float: left;
}

.button {
	-moz-border-radius-bottomleft:12px;
	-moz-border-radius-bottomright:12px;
	-moz-border-radius-topleft:12px;
	-moz-border-radius-topright:12px;
	background:#21759B url(../images/button-grad.png) repeat-x scroll left top;
	border-color:#298CBA !important;
	color:#FFFFFF !important;
	font-size:16px;
	font-weight:bold;
	padding:5px 10px 5px 10px !important;
	text-decoration: none;
}


#alert{
	padding-bottom: 5px;
	font-weight: bold;
	color: #CC0000;
	margin-bottom: 5px;
	padding-top: 5px;
	font-size: 14px;
	padding-left: 40px;
	background-image: url(../images/icon-error-flat.gif);
	background-repeat: no-repeat;
	background-position: 7px;
	background-color: #FFE1E1;
	margin-left: 20px;
	width: 80%;
}

#searchInputContainer {
	float: left;
	border: 1px solid #CCC;
}

#searchButtonContainer {
	float: right;
	width: 25px;
	height: 25px;
	border: 1px solid #CCC;
	border-left: none;
}

#searchInput {
	width: 200px;
	padding: 2px;
	color: #666666;
	font-size: 16px;
	margin: 0;
	height: 24px;
	vertical-align: middle;
}
#ok{
	padding-bottom: 5px;
	font-weight: bold;
	color: #489E14;
	margin-bottom: 5px;
	padding-top: 5px;
	font-size: 14px;
	padding-left: 40px;
	background-image: url(../images/icon-ok-flat.gif);
	background-repeat: no-repeat;
	background-position: 7px;
	text-align: left;
	background-color: #D9F8C7;
	margin-left: 20px;
	width: 80%;
}
#abs {
	position: absolute;
	width: 200px;
	padding: 5px;
	margin: 8px;
	top: 0;
	right: 0;
	text-align: center;
	background-color: #CC3300;
}


/************** FORM ***********************/

#jobForm fieldset {
	border: 0;
	padding: 20px;
}
#jobForm label {
	padding-bottom: 5px;
	font-weight: bold;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#jobForm #publicChck {
	width: auto;
}

#jobForm #txtDescription {
	width: 90%;
	height: 200px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#jobForm #btnSend {
	width: 150px;
	font-weight: bold;
}
#jobForm .info {
	color: #999999;
	font-size: 9px;
	clear: both;
}
#jobForm #txtToApply {
	width: 90%;
}
#jobForm input, #jobForm textarea, #jobForm select {
	padding: 5px;
	width: 50%;
	margin-top: 5px;
}
#jobForm .error {
	color: #F00000;
	font-size: 11px;
	font-style: italic;
}

/*********** OTHERS ********************************/
.toRight img {
	vertical-align: text-bottom;
	border: none;
	outline: none;
}
.admin, .toRight {
	float:right;
	font-size:12px;
	padding: 3px;
	padding-left: 7px;
}
.admin {
	color: #8CC16C;
}
.lighterSmall {
	font-size: 80%;
	color: #999999;
}

div.info {
  margin-left: 4px;
  color: #7E5812;
  font-weight: bold;
  background-color: #FFFFCC;
  background-image: url('../images/icon-att-flat.gif');
  background-position: 7px 50%;
  background-repeat: no-repeat;
  padding: 10px 0;
  padding-left: 40px;
}

.integration {
  width: 100%;
  background-color: #333;
  font-size: 80%;
  padding: 5px 0;
  color: #CCC;
}

.integration a {
  color: #CCC;

}