<phpunit colors="true" bootstrap="bootstrap.php">
    <testsuite name="tests">
        <directory>tests</directory>
    </testsuite>
 
    <php>
        <!-- <ini name="include_path" value="../library"/> -->
    </php>
 
    <filter>
        <whitelist>
            <directory suffix=".php">../Joobsbox/</directory>
		<exclude>
			<file>../Joobsbox/Application/Translation.php</file>
			<directory>../Joobsbox/Db/</directory>
		</exclude>
        </whitelist>
    </filter>
 
 
    <logging>
        <log type="coverage-html" target="./log/report" charset="UTF-8"
            yui="true" highlight="true"
            lowUpperBound="50" highLowerBound="80"/>
        <log type="testdox-html" target="./log/testdox.html" />
    </logging>
</phpunit>
