<?xml version="1.0"?>
<Google>
  <main>
    <title_ro>Google Analytics</title_ro>
    <title_en>Google Analytics</title_en>
    <image>images/google_analytics_24.png</image>
    <version>0.1</version>
    <description>Google Analytics plugin adds the Analytics tracking code to your site and displays statistics about your site's traffic.</description>
  </main>
</Google>