ul#plugins					{list-style: none; margin: 0; padding: 0}
ul#plugins li.plugin			{margin: 10px; padding: 18px 10px 10px 10px; float: left; display: block; width: 130px; height: 130px; text-align: center; background-image: url('../images/adminPluginBackground.gif'); background-repeat: no-repeat; background-position: center center;}

ul#plugins li.plugin a			{display: block; width: 100%; height: 100%; outline: none; text-decoration: none;}
ul#plugins li.plugin a:hover	{text-decoration: underline;}
ul#plugins li.plugin a img		{text-decoration: none; border: 0; outline: none;}

ul#plugins li.clearer			{clear: both; width: 0; height: 0; margin: 0; background-color: transparent;}