#joobsbox-header {
  width: 380px;
  height: 75px; 
  background-color: #333333; 
  background-image: url('../images/logo_dark.png'); 
  background-repeat: no-repeat; 
  background-position: center center; 
  text-transform: uppercase; 
  line-height: 80px; 
  color: #DDD; 
  font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif; 
  text-align: center;
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

#installation h1, #installation p {
  text-align: center;
}

#joobsbox-main form  {
  width: 400px;
  margin: 0 auto;
}

#joobsbox-main form dd {
  width: 100%;
  margin: 0;
  background-color: #DFDFDF;
  -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
}

#joobsbox-main form dd fieldset {
 border: 0; 
 display: block;
 margin-bottom: 10px;
}

#joobsbox-main form dd fieldset legend {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-top: -12px;
  margin-bottom: 5px;
  padding: 7px;
  background-color: #30B1CC;
  color: #FFF;
}

#joobsbox-main form dl dt {
  margin-top: 5px;
}

#joobsbox-main form dl dt label {
  text-transform: uppercase;
  font-size: 75%;
  letter-spacing: 1px;
}

#joobsbox-main form dl dd {
  margin: 0;
  padding: 0;
}

#joobsbox-main form dl dd input[type="text"], #joobsbox-main form dl dd select {
  width: 350px;
  height: 24px;
  font-size: 18px;
  padding: 3px;
}

#joobsbox-main form dl dd select {
  font-size: 12px;
}

#submit {
  padding: 7px;
  font-size: 20px;
  margin: 5px;
}

#joobsbox-footer {
  background-color: #FFF;
  padding: 10px;
  border-top: 1px dotted #555;
  border-bottom: 0;
  width: 380px; 
  padding-top: 10px;
  margin: 0 auto;
}

ul.errors {
  background-color: #EF1A14; 
  color: #FFF;
}

#installation ul.errors {
  background-color: #DFDFDF;
  color: #EC2424;
  list-style: none;
  margin: 5px 0;
  padding: 0;
}

ul.errors li {
  padding: 3px;
}

h1 {
  clear: both; 
  float: none;
}
